.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
.run/*
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
.run/Run IDE with Plugin.run.xml
.idea/workspace.xml
.idea/vcs.xml
.idea/sonarlint/securityhotspotstore/index.pb
.idea/sonarlint/securityhotspotstore/d/b/dbcff70658daf80b53ce624f6adcaa529df5ed8d
.idea/sonarlint/securityhotspotstore/b/3/b36de0a3f8b9c1e1a18556e5aa91d6d421bd0c71
.idea/sonarlint/issuestore/index.pb
.idea/sonarlint/issuestore/d/b/dbcff70658daf80b53ce624f6adcaa529df5ed8d
.idea/sonarlint/issuestore/b/3/b36de0a3f8b9c1e1a18556e5aa91d6d421bd0c71
.idea/misc.xml
.idea/kotlinc.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/gradle.xml
